* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(0, 0, 0, 0.87);
  /* pour calculer la hauteur de ligne  taille sur la maquette = 30px et la taille de la police ie 30/16 = 1.8 */
  line-height: 1.6;
  margin: 0;

  font-weight: 500;
}

.topbar {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
  z-index: 3;
}

.topbar nav {
  float: left;
}

.topbar nav a {
  color: #9f9f9f;
  text-decoration: none;
  font-weight: 500;
  padding: 0 53px;
}

.topbar nav a:hover,
.topbar nav a.active {
  color: #000;
}

.topbar .social {
  float: right;
}

.social a {
  padding: 12px;
  opacity: 0.5;
}

.social a:hover {
  opacity: 1;
}

.banniere {
    
  height: 427px;
  background: no-repeat center center / cover url("./img/slide-1.jpg");
}

.main {
  float: left;
  width: calc(100% - 375px);
  /* height: 699px; */
  background: #ffff;
  box-shadow: 0 4px 30px rgb(0, 0, 0, 0.05);
  position: relative;
  z-index: 2;
}

.sidebar {
  float: right;
  height: 699px;
  background: #fbfbfb;
  width: 375px;
  padding: 40px;
  font-size: 17px;
  position: relative;
  z-index: 1;
}

.sidebar-title {
  font-size: 30px;
  color: #000;
  margin: 15px 0;
}
.sidebar-title:first-child {
  margin-top: 0;
}

.sidebar a {
  color: #9f9f9f;
  text-decoration: none;
}

.sidebar hr {
  border: none;
  background: #c4c4c4;
  height: 1px;
  margin: 50px 0;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* line-height: 2.3; */
}

.sidebar li {
  padding: 6px 0;
}
.footer {
  clear: both;
}

.article-img {
  float: left;
  width: 308px;
}

.article {
  position: relative;
  margin: 50px 0;
  padding-left: 333px;
  min-height: 203px;
}

.article-img img {
  width: 100%;
  height: auto;
}

/* .article{
    overflow: hidden;
    margin: 50px 0;
    margin-left: 40px;
} */

/* .article:first-child{
    margin-top: 20px;
} */

.sidebar-date {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.sidebar-title {
  font-size: 2.25rem;
}

.article a {
  color: inherit;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article-title {
  line-height: 1.1;
  font-family: "cardo", "serif";
}

.contenair {
  max-width: 940px;
  margin: 0 auto;
}
